name: Hello World Workflow
on: [push]
jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
      - name: Cloning the repository
        run: |
          echo "Cloning the repository..."
          echo "Github context: ${{ toJson(github) }}"
          git clone https://github.com/${{github.repository}}.git myFolder
          cd myFolder ls -la