name: Hello World Workflow
on: [push]
jobs:
  hello_world_job:
    runs-on: ubuntu-latest
    steps:
      - name: Hello World Step
        run: echo "Hello, World!"
      - name: Sya Hello Again
        run: echo "Hello again, World!"